language: python

matrix:
  include:
  - os: linux
    sudo: required
    python: 2.7 
  - os: linux
    sudo: required
    python: 3.5 
  - os: linux
    sudo: required
    python: 3.6 

install:
  - "python setup.py install"

script: 
  - "python scripts/tests.py"
