language: python
python:
  - "2.6"
  - "2.7"
  - "2.8"
  - "2.9"
  - "3.0"
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly"
install: "pip install -r requirements.txt"
script: nosetests 
